# Ignore virtual environment
.env/

# Ignore project-specific intraday folder
.intraday/
Intraday/Trail/

# Ignore all Python cache files
__pycache__/
*.pyc

# Ignore this specific file
Intraday/structure.txt